# Spring Boot — compilados
botpanel2/target/
botpanel2/.classpath
botpanel2/.project
botpanel2/.settings/



# Node.js
baileys-bot/node_modules/
baileys-bot/sesion/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db