# Spring Boot — compilados
botpanel2/target/
botpanel2/.classpath
botpanel2/.project
botpanel2/.settings/

# Secretos locales
botpanel2/src/main/resources/application-local.properties
botpanel2/src/main/resources/application.properties

# Uploads locales
botpanel2/uploads/



# Node.js
baileys-bot/node_modules/
baileys-bot/sesion/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db